# templates/keepalived/keepalived.conf.j2

# -------------------------------
# Keepalived Configuration
# -------------------------------

global_defs {
    script_user root
    enable_script_security
}

vrrp_script chk_haproxy {
    script "/usr/bin/pidof haproxy"
    interval 2
    timeout 5
    weight -10
    fall 2
    rise 2
}

# VRRP Instance for Kubernetes API (6443)
vrrp_instance VI_API {
    state BACKUP
    interface {{ keepalived_interface }}
    virtual_router_id 51
    priority {{ keepalived_priority_api | default(100) }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass 12345678
    }

    virtual_ipaddress {
        {{ api_vip }}/32
    }

    track_script {
        chk_haproxy
    }

    notify_master "/etc/keepalived/scripts/vip_master.sh VI_API"
    notify_backup "/etc/keepalived/scripts/vip_backup.sh VI_API"
    notify_fault  "/etc/keepalived/scripts/vip_fault.sh VI_API"
}

# VRRP Instance for Ingress (80 + 443)
vrrp_instance VI_INGRESS {
    state BACKUP
    interface {{ keepalived_interface }}
    virtual_router_id 52
    priority {{ keepalived_priority_ingress | default(100) }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass 12345678
    }

    virtual_ipaddress {
        {{ second_vip }}/32
    }

    track_script {
        chk_haproxy
    }

    notify_master "/etc/keepalived/scripts/vip_master.sh VI_INGRESS"
    notify_backup "/etc/keepalived/scripts/vip_backup.sh VI_INGRESS"
    notify_fault  "/etc/keepalived/scripts/vip_fault.sh VI_INGRESS"
}
