global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096
    daemon
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 10s
    timeout client  1m
    timeout server  1m

frontend kubernetes_api
    bind *:6443
    default_backend kubernetes_masters

backend kubernetes_masters
    option httpchk GET /healthz
    http-check expect status 200
    balance roundrobin
    default-server inter 3s fall 3 rise 2
{% for host in groups['masters'] %}
    server master-{{ loop.index }} {{ hostvars[host]['ansible_host'] }}:6443 check
{% endfor %}

frontend http_traffic
    bind *:80
    mode http
    default_backend web_servers

backend web_servers
    mode http
    balance roundrobin
    option httpchk GET /healthz
{% for host in groups['workers'] %}
    server worker-{{ loop.index }} {{ hostvars[host]['ansible_host'] }}:80 check
{% endfor %}

frontend https_traffic
    bind *:443
    mode tcp
    default_backend web_servers_ssl

backend web_servers_ssl
    mode tcp
    balance roundrobin
    option ssl-hello-chk
{% for host in groups['workers'] %}
    server worker-{{ loop.index }} {{ hostvars[host]['ansible_host'] }}:443 check
{% endfor %}